{% extends '::base.html.twig' %}


{% block body %}

<h1>{{ content.title }}</h1>


<div style="padding:5px">

{% if content.image%}

    {% media content.image, 'reference'%}
{% endif %}


{{ content.content|raw}}
</div>



{% endblock body %}