{% extends 'IphpCoreBundle::page-with-header.html.twig' %}

{% block page_body %}


{% block contents %}

{% for content in contents %}
<dl>
    <dt><a href="{{ entitypath(content) }}">{{ content }}</a></dt>
    <dd>{{ content.abstract }}</dd>
</dl>
{% endfor %}


{% block pagination %}
<div>
    {{ contents.render()|raw }}
</div>
{% endblock pagination %}

{% endblock contents %}


{% endblock page_body %}